/* some style */

.top {
    height: 40px;
    /* margin-left: 250px; */
}

.ribbon {

    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(0, 188, 212);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    position: fixed;
    z-index: 1101;
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    top: 40px;

}

.main-body {
    padding-top: 64px;
    min-height: auto;
    /* margin-left: 20px; */
}


.footer {
    padding: 72px 24px 72px 256px;
    box-sizing: border-box;
    background-color: rgb(33, 33, 33);
    text-align: center;
    position: fixed;
}

.div {
    display: block;
}

.nav-bar {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 0px;
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1200;
    left: 0px;
    top: 0px;
    transform: translate(0px, 0px);
    overflow: auto;


    background-image:url(/images/grid-sidebar.png);
    // height: auto;
    // width: 340px;
    // top: 60px;
   //  background-color: #027dc1ba;
    // background-repeat-y: no-repeat;
    // background-repeat-x: no-repeat;
   //  background-size: cover;
}


nav {
   background-color: #027EC0
}

.app-menu {
 margin-top: 60px;
 background-image:url(/images/grid-sidebar.png);
 height: auto;
 width: 340px;
 top: 60px;
 background-color: #027dc1ba;
 background-repeat-y: no-repeat;
 background-repeat-x: no-repeat;
 background-size: cover;
 /* background-position-x: 0%;
 background-repeat-x: no-repeat;
 background-position-x: 0;
 background-size: initial;
 background-origin: initial;

/*

 background-attachment: initial;
 background-clip: initial;
*/
}

.drawer-menu {
 background-image:url(/images/grid-sidebar.png);
 height: 1356;
 top: 64px;
}

.main-body2 {
    margin-left: 240px;
}

.page-footer {
   position:fixed;
   /* left: 240px; */
   bottom:0px;
   height:60px;
   width:100%;
   /* margin-left 450px; */
   background-color: #027EC0;
   /* padding: 72px 24px 72px 256px; */
   /* box-sizing: border-box; */
}



.container {
    max-width: 3000px;
    min-width: 75%;
    margin-left: 120px;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


.box {
    background: #f2f5f5;
    padding: 20px;
    border: 1px solid #dde4e6;
}

.divider {
    margin: 20px;
}

.dell-logo {
  display: inline-block;
  width: 121px;
  height: 28px;
  margin-top: 16px;
  margin-bottom: 20px;
  background: url(/images/DellEMC_Logo_Hz_Gry_rgb.png) 0 0;
    background-repeat:no-repeat;
    background-position: 0 0px;
    background-size: 50px 50px;
}


.center-div {
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


[for="login"] {
    font-size: 20px;
    color: #fff
}

[for="password"] {
    font-size: 20px;
    color: #fff
}
div#login {
   color: #fff;
}

input#login {
   color: #fff;
   border-bottom: 1px solid #fff;
}

input#password {
   color: #fff;
   border-bottom: 1px solid #fff;
}
/*

.control-label  {
    font-size: 20px;
    color: #fff
}

  background-position: 0 -50px;
  background-size: 135px 130px;
  background-repeat:no-repeat;
      background-color:transparent;



body {
  display: block;
  margin: 0px;
}

div {
    display: block;
}


.window {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    background-color: #ECEFF1;

}


.container {
    max-width: 1280px;
    min-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.header {
    border-bottom: solid 2px #ecf0f1;
    margin: 0 0 16.5px;
    padding: 15px 0;
}

.nav {
    max-width: 250px;
    background-color: #ECEFF1;
}

.body {
    max-width: 900px;
}

/*
.container {
  margin-top: 48px;
  margin-botton: 72px;
}
*/



/*
nav.dell{
 background-color: #13519b;
}


.dell-logo {
  display: inline-block;
  width: 121px;
  height: 28px;
  margin-top: 16px;
  margin-bottom: 20px;
  background: url(/images/delltech.png) 0 0;
  background-color:transparent;
  background-repeat:no-repeat;
  background-position: 0 -50px;
  background-size: 135px 78px;
}

.sub-title {
  display: inline-block;
  position: absolute;
  font-size: 1.7rem;
  margin-left: 3px;
}

.main {
  margin-top: 20px;
}

*/
